<%- title 'Currency conversion result' %>
<h1>Currency conversion result</h1>

<p><%= @amount %> <%= @starting_currency %></p>
<p class="equals">=</p>
<p><strong><%= @result %> <%= @ending_currency %></strong></p>
