<%- title 'Convert between currencies' %>
<h1>Convert between currencies</h1>

<%= form_tag('/converter/convert', id: 'converter') do %>
  <% currency_array = @currencies.map { |currency| [currency.label, currency.id] } %>
  <div>
  <%= text_field_tag(:amount, '0.00', type: 'number', step: 0.01, min: 0) %>
  <%= select_tag(:from_currency_id, options_for_select(currency_array)) %>
  </div>
  <div>
  <%= label_tag(:to_currency_id, 'to') %>
  <%= select_tag(:to_currency_id, options_for_select(currency_array)) %>
  </div>
  <div class="submit">
  <%= submit_tag('Convert', class: 'button') %>
  </div>
<% end %>
