// Place all the styles related to the converter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-main: #333;
$accent-color-main: #5a5;
$background-color-main: #eee;
$color-alt: $background-color-main;
$background-color-alt: $accent-color-main;
$font-main: "Helvetica Neue", Helvetica, Avondale, sans-serif;

body {
  font-family: $font-main;
  color: $color-main;
  background-color: $background-color-main;
}

strong { font-weight: bold; }

h1,h2,h3,h4,h5,h6 {
  font-weight: 200;
  padding: 0.8em 0;
}

h1 {
  color: $accent-color-main;
  font-size: 2em;
}
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; font-weight: bold; }
h6 { font-size: 1em; font-weight: bold; }

div#content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input, select { font-size: 1.1em; }

input#amount, label {
  width: 200px;
  display: inline-block;
  text-align: right;
  margin-right: 1em;
}

.submit { margin-top: 1.2em; }

.button {
  color: $color-alt;
  background-color: $background-color-alt;
  padding: 0.4em;
  display: inline-block;
  border: solid 1px rgba(40,120,40,1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.equals {
  color: $accent-color-main;
  font-size: 1.6em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
